<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fresh Choice - about_us Page</title>

    <!-- fevicon -->
    <link rel="icon" href="./images/Vector.png">

    <!-- bootstrap css-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- font awosome -->

    <link rel="stylesheet" href="./extra/fontawesome-free-6.4.0-web/css/all.min.css">


    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amiko&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amiko:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./css/kaushan script.css">
    <link rel="preload" href="KaushanScript-Regular.woff2" as="font" type="font/woff2" crossorigin>

    <!-- custom css -->
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <!-- header strat-->


    <div class="header-bg py-3">

        <div class="container">

            <div class="row d-flex">

                <div class="col-12 d-flex align-items-center ">
                    <div class="col-4  text-center font-40 text-web font-kushanscript">

                        Fresh Choice

                    </div>

                    <div class="col-4 ">

                        <ul
                            class="list-unstyled d-flex mb-0 align-items-center justify-content-center font-josefin-600">
                            <li>
                                <a href="#" class="text-decoration-none p-3 font-20 text-black">Home</a>
                            </li>
                            <li>
                                <a href="#" class="text-decoration-none p-3 font-20  text-web">About</a>
                            </li>
                            <li>
                                <a href="#" class="text-decoration-none p-3 font-20 text-black">Shop</a>
                            </li>
                            <li>
                                <a href="#" class="text-decoration-none p-3 font-20 text-black">Contacts</a>
                            </li>
                        </ul>

                    </div>

                    <div class="col-4 ">

                        <ul class="list-unstyled d-flex mb-0 align-items-center justify-content-center">
                            <li>
                                <a href="#" class="text-decoration-none p-3 header-icon text-black">
                                    <i class="fa-regular fa-user"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-decoration-none p-3 header-icon text-black">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-decoration-none p-3 header-icon text-black">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>

        </div>

    </div>


    <!-- header end -->

    <!-- banner start -->
    <section class="about-banner ">
        <img src="./images/about-banner.png" alt="about" width="100%" height="400px">
    </section>
    <!-- banner end -->

    <!-- about-us start -->
    <section class="about-us  ">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex p-5 align-items-center">
                    <div class="col-6 p-5 pt-4 pe-4">
                        <img src="./images/Aboutus_img.png" alt="img" width="100%">
                    </div>
                    <div class="col-6  p-5 ps-0 ">
                        <h1 class="font-josefin font-wight">
                            ABOUT US
                        </h1>
                        <p class="font-josefin-600">
                            At Choice Fresh, we are committed to transforming the way you shop for groceries. Our
                            mission is to make grocery shopping convenient, efficient, and enjoyable for every customer.
                            We understand the challenges of modern life, and we believe that grocery shopping should be
                            a seamless part of your routine.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-us end -->
    <div class="text-center font-50 py-4">
        <h1 class="font-josefin font-wight">
            Services
        </h1>
    </div>
    <!-- services start -->
    <section class="about-service">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex p-4">
                    <div class="col-4 p-3">
                        <div class=" d-flex align-items-center border-20 shadow-sm p-2 mb-5 bg-body rounded">
                            <div class="p-4">
                                <div class="ratio ratio-1x1 rounded-circle about-services " style="width: 100px;">
                                    <div class=" about-services-icon d-flex align-items-center justify-content-center">
                                        <i class="fa-regular fa-file text-web "></i>
                                    </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <h2 class="font-josefin font-wight">Easy Returns</h2>
                                <p class="font-josefin-200">
                                    Knowledge base that organized collection system
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-3">
                        <div class=" d-flex align-items-center border-20 shadow-sm p-2 mb-5 bg-body rounded">
                            <div class="p-4">
                                <div class="ratio ratio-1x1 rounded-circle about-services" style="width: 100px;">
                                    <div class=" about-services-icon d-flex align-items-center justify-content-center ">
                                        <i class="fa-solid fa-truck text-web"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <h2 class="font-josefin font-wight">Free Delivery</h2>
                                <p class="font-josefin-200">
                                    Knowledge base that organized collection system
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-3">
                        <div class=" d-flex align-items-center border-20 shadow-sm p-2 mb-5 bg-body rounded">
                            <div class="p-4">
                                <div class="ratio ratio-1x1 rounded-circle about-services" style="width: 100px;">
                                    <div class=" about-services-icon d-flex align-items-center justify-content-center ">
                                        <i class="fa-regular fa-thumbs-up text-web"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <h2 class="font-josefin font-wight">DailyDiscount</h2>
                                <p class="font-josefin-200">
                                    Knowledge base that organized collection system
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services end -->

    <!-- services info and image start -->

    <section class="services-info">
        <div class="container">
            <div class="row">
                <div class="col-12 align-items-center p-5 d-flex">
                    <div class="col-6 font-josefin font-20">
                        <span>
                            <p class="p-5 pb-0">Choice Fresh was founded with a simple yet powerful vision: to re-imagine how people shop
                            for groceries. We believe that grocery shopping should be a breeze, leaving you with more
                            time to enjoy life's precious moments. Our goal is to provide you with a seamless,
                            personalized, and sustainable way to stock your pantry and fill your fridge.</p>
                            <p class="p-5 pt-0"> We are
                            committed to delivering the highrestquality food products to our customers.Our team
                            meticulously selects and sources our producats from trusted local and internatonal suppliers
                            who share our commilment to quality,sustainability and ethical practices.</p>
                        </span>
                    </div>
                    <div class="col-6">
                         <div class="col-12 p-3">
                             <img src="./images/u_imag.png" alt="img" width="100%">
                         </div>
                         <div class="col-12 d-flex">
                                <div class="col-6 p-3">
                                      <img src="./images/2_imag.png" alt="img" width="100%" >
                                </div>
                                <div class="col-6 p-3">
                                       <img src="./images/3_img.png" alt="img" width="100%">
                                </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- services info and image end -->
    <!-- footer start -->
    <footer class="footer w-100 position-relative ">
        <div class="col-12 back-color bach-black " style="height:400px;">
          <div class="container">
           <div class="col-12">
               <div class="col-3 font-40 text-web font-kushanscript p-5">
                           Fresh Choice
               </div>
            </div> 
            
            <div class="col-12 d-flex">
               <div class="col-3 p-5">
                    <div class="d-flex">
                        <div class="ratio ratio-1x1" style="width: 30px;">
                            <img src="./images/instagram.png" alt="img" width="100%">
                         </div>&nbsp;&nbsp;
                         <div class="ratio ratio-1x1" style="width: 30px;">
                            <img src="./images/twitter.png" alt="img" width="100%">
                         </div>&nbsp;&nbsp;
                         <div class="ratio ratio-1x1" style="width: 30px;">
                            <img src="./images/facebook.png" alt="img" width="100%">
                         </div>
                    </div>
  
                    <div class="p-3 ps-0 ">
                      <div class="d-flex align-items-center">
                         <input type="email" placeholder="Enter email address" class="font-josefin py-2">&nbsp;
                         <a href="#" class="subbtn">Subscribe</a>
                        </div>   
                    </div>
               </div>
               <div class="col-3">
                      <h3 class="text-white font-josefin font-wight">Customer Service</h3>
  
                      <ul class="text-white font-josefin-600 font-wight-600 list-unstyled">
                         <li class="p-1" >My Account</li>
                         <li class="p-1">FAQS</li>
                         <li class="p-1">Cash On Delivery Service</li>
                         <li class="p-1">Contact Us</li>
                      </ul>
               </div>
               <div class="col-3">
                <h3 class="text-white font-josefin font-wight">Help & Information</h3>
  
                <ul class="text-white font-josefin-600 font-wight-600 list-unstyled">
                   <li class="p-1" >Shipping & Exchange Policy</li>
                   <li class="p-1">Terms & Conditions</li>
                   <li class="p-1">Payment Information</li>
                </ul>
               </div>
               <div class="col-3">
                <h3 class="text-white font-josefin font-wight">Quick Links</h3>
  
                <ul class="text-white font-josefin-600 font-wight-600 list-unstyled">
                   <li class="p-1" >Home</li>
                   <li class="p-1">Shop</li>
                   <li class="p-1">About Us</li>
                   <li class="p-1">Whitelist</li>
                   <li class="p-1">Cart</li>
                </ul>
               </div>
            </div>
          </div>  
         </div>
       </footer>
  
  
        
      <!-- footer end -->
</body>

<!-- bootstrap js -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


<script src="./extra/fontawesome-free-6.4.0-web/js/all.min.js"></script>

</html>